@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
      .masonry-3-col {
          column-count: 3;
          column-gap: 1em;
      }
      .masonry-2-col {
          column-count: 2;
          column-gap: 1em;
      }
      .break-inside {
          break-inside: avoid;
      }
  }
}

@layer base {
  @font-face {
    font-family: 'XBAND-Rough';
    src:url('/fonts/XBAND-Rough.ttf.woff') format('woff'),
        url('/fonts/XBAND-Rough.ttf.svg#XBAND-Rough') format('svg'),
        url('/fonts/XBAND-Rough.ttf.eot'),
        url('/fonts/XBAND-Rough.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
  }
}