<!doctype html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{% if name %}{{name}} | {% endif%}Genders.WTF</title>
  <link rel="stylesheet" href="/css/style.css" />
  {% if page.fileSlug == "server-gender" %}
    <meta property="og:title" content="Your server's assigned gender">
    <meta property="og:site_name" content="Genders.WTF">
    <meta property="og:url" content="https://genders.wtf/server-gender/">
    <meta property="og:description" content="Share this page on the fediverse to have your server assigned a gender.">
    <meta property="og:image" content="https://hello.effy.is/gender.php">
  {% endif %}
  {# {% if layout == "gender" %}
    <meta name="twitter:card" content="player">
    <meta name="twitter:title" content="{% if name %}{{name}} | {% endif%}Genders.WTF">
    <meta name="twitter:image" content="{% image page.fileSlug, (alt | escape), "100vw", "", true %}">
    <meta name="twitter:player" content="/embed/{{ page.fileSlug }}">
    <meta name="twitter:description" content="{{ alt }}">
  {% endif %} #}
 </head>
 <body>
  {{ content | safe }}
 </body>
</html>