---
layout: default
---

<div class="container object-center mx-auto h-auto grid justify-items-center">
  <h1 class="text-4xl lg:text-6xl font-gender text-center">{{name}}</h1>
  <div class="flex flex-wrap justify-center p-4">
    {% set cls = cycler("pink", "blue") %}
    {% for tag in tags %}
    {% if tag !== "genders" %}
      {% set color = cls.next() %}
      <a href="/tags/{{tag}}">
        <div class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-{{color}}-700 bg-blue-100 border border-{{color}}-300 ">
          <div class="text-xs font-normal leading-none max-w-full flex-initial">#{{tag}}</div>
        </div>
      </a>
    {% endif %}
    {% endfor %}
  </div>
  <div class="max-w-4xl shadow-lg">
      {% image page.fileSlug, name, "100vw", "" %}
  </div>
</div>

